.boutique {
    width: 80%;
    height: 100px;
    background-image: url(../img/boutique.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 12px rgb(177, 168, 168);
    margin-top: 1400px;
    margin-left: 10%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.boutique:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.boutique .button {
    cursor: pointer;
    color: white;
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border-width: 4px;
    border-radius: 20px;
    border-color: white;
    font-weight: 100;
}
.boutique .button:hover {
    background-color: rgb(56, 56, 233);
    border-color:  rgb(1, 1, 150);
}
@media only screen and (max-width: 1093px){
    .boutique {
        margin-top: 2200px;
    }
}
@media only screen and (max-width: 808px){
    .boutique {
        margin-top: 2400px;
    }
}