/* card */
    .card {
        width: 80%;
        height: 200px;
        background-color: white;
        margin-left: 10%;
        margin-top: 100px;
        box-shadow: 1px 1px 12px rgb(177, 168, 168);
        float: left;
    }
    /* img */
        .card .img {
            height: 150px;
            width: 150px;
            float: left;
            margin-top: 25px;
            margin-left: 25px;
            border-radius: 50%;
            background-image: url(../img/kimpembe.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        @media only screen and (max-width: 738px){
            .card .img {
                height: 100px;
                width: 100px;  
                float: left;
                margin-left: 38%;
            }
        }
        @media only screen and (max-width: 606px){
            .card .img {
                height: 100px;
                width: 100px;  
                float: left;
                margin-left: 34%;
            }
        }
        @media only screen and (max-width: 490px){
            .card .img {
                height: 100px;
                width: 100px;  
                float: left;
                margin-left: 29%;
            }
        }
        @media only screen and (max-width: 414px){
            .card .img {
                height: 100px;
                width: 100px;  
                float: left;
                margin-left: 25%;
            }
        }
        @media only screen and (max-width: 280px){
            .card .img {
                height: 100px;
                width: 100px;  
                float: left;
                margin-left: 20%;
            }
        }
    /* /img */
    /* texte */
        .card .texte {
            width: 80%;
            float: right;
            margin-right: 20px;
            margin-top: 50px;
        }
        .card .texte h3 {
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
        }
        @media only screen and (min-width: 1422px){
            .card .texte {
                margin-top: 60px;
            }
        }
        @media only screen and (min-width: 1862px){
            .card .texte {
                margin-top: 68px;
            }
        }
        @media only screen and (max-width: 1224px){
            .card .texte {
                width: 70%;
            }
            .card .texte h3{
                font-size: 15px;
            }
        }
        @media only screen and (max-width: 902px){
            .card .texte {
                width: 65%;
            }
            .card .texte h3{
                font-size: 12px;
            }
        }
        @media only screen and (max-width: 730px){
            .card .texte {
                width: 80%;
                margin-left: 10%;
            }
            .card .texte h3{
                font-size: 12px;
            }
        }
        @media only screen and (max-width: 367px){
            .card .texte {
                width: 80%;
                margin-left: 10%;
            }
            .card .texte h3{
                font-size: 10px;
            }
        }
    /* /texe */
    @media only screen and (max-width: 730px){
        .card {
            width: 60%;
            height: 400px;
            margin-left: 20%;
        }
    }
    
/* /card */