
.btn {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 40000;
}
.btn .iconne {
    width: 60px;
    z-index: 40001;
    opacity: 0.5;
}