.footer {
    width: 100%;
    height: 80px;
    margin-top: 40px;
}
.footer .content {
    width: 80%;
    height: 80px;
    margin-left: 10%;
    z-index: 2000;
}
.footer .content .texte {
    font-size: 15px;
    text-align: center;
    padding-top: 30px;
}
.footer .content .texte a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.footer .content .texte .lien:hover {
    text-decoration: underline;
}