.compo {
    width: 80%;
    margin: 10%;
    margin-top: 50px;
}
.score{
    width: 400px;
    height: 150px;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
}

.score .h1{
    position: absolute;
    text-align: center;
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 182px;
    color: white;
}
.score .france {
    width: 200px;
    height: 150px;
    float: left;
    background-color:grey;
    border-radius: 20px;
    
    box-shadow: 1px 1px 12px rgb(177, 168, 168);
}
.score .france:hover {
    background-color: blue;
}
.score .france h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: white;

}
.score .france h2 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
}
.score .france:hover h2 {
    display: none;
}
.score .france h3 {
    text-align: center;
    font-size: 12px;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    display: none;
}
.score .france:hover h3 {
    display: block;
}
.score .adv {
    width: 200px;
    height: 150px;
    float: right;
    background-color:grey;
    border-radius: 20px;
    
    box-shadow: 1px 1px 12px rgb(177, 168, 168);
}
.score .adv:hover {
    background-color:red;
}
.score .adv h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: white;
    text-align: center;
}
.score .adv h2 {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
}
.score .adv:hover h2 {
    display: none;
}
.score .adv h3 {
    text-align: center;
    font-size: 12px;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    display: none;
    text-align: center;
}
.score .adv:hover h3 {
    display: block;
}
@media only screen and (max-width: 500px){
    .score{
        width: 300px;
        height: 120px;
        margin: auto;
        border-radius: 20px;
        margin-top: 50px;
    }
    .score .france {
        width: 150px;
        height: 120px;
    }
    .score .adv {
        width: 150px;
        height: 120px;
    }
    .score .h1{
        position: absolute;
        text-align: center;
        font-size: 110px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 130px;
        color: white;
    }
}


.compo {
    width: 776px;
    height: 515px;
    background-image: url(../img/france-portugal-compo.jpg);
    margin: auto;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 842px){
    .compo {
        width: 300px;
        height: 200px;
        background-size: cover;
        background-position: center;
        
    }
}
































.stat {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 100px;
}

.stat .passe {
    width: 45%;
    height: 40px;
    float: left;
}
@media only screen and (max-width: 768px){
    .stat .passe {
        width: 100%;
    }
}
.stat .passe h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .passe .france {
    width: 51%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .passe .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .passe .adv {
    width: 49%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .passe .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}





.stat .tir {
    width: 45%;
    height: 40px;
    float: right;
}
@media only screen and (max-width: 768px){
    .stat .tir {
        width: 100%;
        margin-top: 50px;
    }
}
.stat .tir h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .tir .france {
    width: 53%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .tir .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .tir .adv {
    width: 47%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .tir .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

























 
.stat .tire {
    width: 45%;
    height: 40px;
    float: left;
    margin-top: 50px;
}
@media only screen and (max-width: 768px){
    .stat .tire {
        width: 100%;
    }
}
.stat .tire h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .tire .france {
    width: 41%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .tire .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .tire .adv {
    width: 59%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .tire .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

























 
.stat .duels {
    width: 45%;
    height: 40px;
    float: right;
    margin-top: 50px;
}
@media only screen and (max-width: 768px){
    .stat .duels {
        width: 100%;
    }
}
.stat .duels h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .duels .france {
    width: 52%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .duels .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .duels .adv {
    width: 48%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .duels .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}













.stat .tacles {
    width: 45%;
    height: 40px;
    float: left;
    margin-top: 50px;
}
@media only screen and (max-width: 768px){
    .stat .tacles {
        width: 100%;
    }
}
.stat .tacles h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .tacles .france {
    width: 61%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .tacles .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .tacles .adv {
    width: 39%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .tacles .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}












.stat .centre {
    width: 45%;
    height: 40px;
    float: right;
    margin-top: 50px;
}
@media only screen and (max-width: 768px){
    .stat .centre {
        width: 100%;
    }
}
.stat .centre h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .centre .france {
    width: 38%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .centre .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .centre .adv {
    width: 62%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .centre .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}












.stat .corner {
    width: 45%;
    height: 40px;
    float: left;
    margin-top: 50px;
}
@media only screen and (max-width: 768px){
    .stat .corner {
        width: 100%;
    }
}
.stat .corner h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .corner .france {
    width: 33%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .corner .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .corner .adv {
    width: 67%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .corner .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}










.stat .possession {
    width: 45%;
    height: 40px;
    float: right;
    margin-top: 50px;
}
@media only screen and (max-width: 768px){
    .stat .possession {
        width: 100%;
    }
}
.stat .possession h1 {
    font-size: 22px;
    padding-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.stat .possession .france {
    width: 50%;
    height: 40px;
    background-color: blue;
    float: left;
}
.stat .possession .france h2 {
    float: left;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stat .possession .adv {
    width: 50%;
    height: 40px;
    background-color: red;
    float: right;
}
.stat .possession .adv h2 {
    float: right;
    font-size: 30px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}




































































































































.conteneur {
    width: 760px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
}
@media only screen and (max-width: 768px){
    .conteneur {
        width: 380px;
        margin-top: 900px;
    }
}
.conteneur .joueurpref{
    box-shadow: 1px 1px 12px rgb(177, 168, 168);
    width: 300px;
    margin: 40px;
    height: 300px;
    float: left;
    
}
.conteneur .joueurpref h1 {
    margin-top: 10px;
    font-size: 25px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.conteneur .joueurpref .img {
    width: 150px;
    height: 150px;
    margin-top: 45px;
    margin-left:75px;
    border-radius: 50%;
    background-image: url(../img/kante.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.conteneur .joueurpref h2 {
    font-size: 20px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2px;
}
.conteneur .joueurpref h3 {
    font-size: 10px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5px;
}
.conteneur .joueurflop {
    width: 300px;
    margin: 40px;
    height: 300px;
    float: left;
    box-shadow: 1px 1px 12px rgb(177, 168, 168);
}
.conteneur .joueurflop h1 {
    margin-top: 10px;
    font-size: 25px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.conteneur .joueurflop .img {
    width: 150px;
    height: 150px;
    margin-top: 45px;
    margin-left:75px;
    border-radius: 50%;
    background-image: url(../img/cr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.conteneur .joueurflop h2 {
    font-size: 20px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2px;
}
.conteneur .joueurflop h3 {
    font-size: 10px;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5px;
}