* {
    margin: 0;
}

/* header */
    /* bandeau */
        .header .navbar {
            width: 100%;
            height: 80px;
            z-index: 10;
        }
        /* titre */
            .header .navbar .title {
                margin-left: 20px;
                margin-top: 25px;
                float: left;
                color: black;
            }
            .header .navbar .title img {
                width: 153px;
            }
            @media only screen and (max-width: 560px){
                .header .navbar .title img {
                    width: 100px;
                }
            }
            @media only screen and (max-width: 430px){
                .header .navbar .title img {
                    width: 80px;
                }
            }
        /* /titre */
        /* lien */
            .header .navbar .links {
                margin-right: 20px;
                margin-top: 25px;
                float: right;
            }
            .header .navbar .links a {
                font-size: 20px;
                margin-left: 15px;
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
            }
            .header .navbar .links a:hover {
                text-decoration: underline;
            }
            @media only screen and (max-width: 560px){
                .header .navbar .links a {
                    font-size: 15px;
                    margin-left: 15px;
                }
            }
            @media only screen and (max-width: 430px){
                .header .navbar .links a {
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
        /* /lien */
    /* /bandeau */
/* /header */