.container {
	width: 1095px;
	height: auto;
	margin:auto;
}
.container .card {
	font-family: 'Nunito', sans-serif;
	float: left;
	position: relative;
	width: 320px;
	height: 320px;
	background-color: white;
  box-shadow: 1px 1px 12px rgb(177, 168, 168);
  overflow: hidden;
	margin: 20px;
	margin-top: 110px;
	border-radius: 20px;
}
@media only screen and (max-width: 1095px){
  .container {
  width: 730px;
}
}
@media only screen and (min-width: 1460px){
  .container {
  width: 1460px;
}
}
@media only screen and (max-width: 730px){
  .container {
  width: 365px;
}
}
.container .card::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e67e22;
	clip-path: circle(0px at 80% 20%);
	transition: 0.5s ease-in-out;
	border-radius: 20px;
}
.container .card:hover:before{
	clip-path: circle(300px at 20% -20%);
}
.container .card:after{
	font-family: 'Nunito', sans-serif;
	position: absolute;
	top: 37%;
	left: 0%;
	font-size: 12em;
	font-weight: 800;
	font-style: italic;
	color: rgba(255, 255, 255, 0.04);
}
.container .card .numero{
	position: absolute;
	top: -60%;
	left: 40%;
	font-size: 10em;
	font-weight: 800;
	font-style: italic;
	color: rgb(51, 46, 46);
	opacity: 0.5;
}
.container .card:hover .numero{
	transition: 0.5s;
	display: none;
}
.container .card .imgbx{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 500;
	width: 100%;
	height: 220px;
	transition: 0.5s;
}
.container .card .imgbx .img {
	width: 220px;
	margin-left: 50px;
	top: 50%;
	left: 50%;
	z-index: 500;
}
.container .card:hover .imgbx{
	top: 0%;
	transform: translateY(0%);
}
.container .card .contentbx {
	position: absolute;
	bottom: O;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
}
.container .card:hover .contentbx {
	height: 210px;
}
.container .card .contentbx h2 {
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 50px;
	top: 50px;
	color:black;
}
.container .card .contentbx .agetbx {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	top: 60px;
}
.container .card .contentbx .agetbx h3 {
	color:black;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2;
	margin-right: 10px;
	

}
.container .card .contentbx .agetbx span {
	width: 90%;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	display: inline-block;
	color:black;
}

.container .card:hover .contentbx .agetbx {
	opacity: 1;
	visibility: visible;
	transition-delay: 0.2s;
	padding-top: 60px;
}

.container .card .contentbx .CDM {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.container .card .contentbx .CDM h3 {
	color:black;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2;
	margin-right: 10px;
	top: 60px;

}
